<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h2>{{user_profile.name}}</h2>
    <h2>{{user_profile.email}}</h2>
    <h2>{{user_profile.phone}}</h2>
    <hr>
    <br>
    <p>Summary</p>
    <p>{{ user_profile.summary}}</p>
    <hr>
    <p>Skills</p>
    <p>{{user_profile.skills}}</p>
    <hr>
    <p>Education</p>
    <ul>
        <li>{{user_profile.school}}</li>
        <li>{{user_profile.degree}} from {{user_profile.university}}</li>
    </ul>
    <hr>
    <p>Previous Work</p>
    <p>{{user_profile.previous_work}}</p>
    <hr>
</body>
</html>